<!-- <h1><%= @user.id %></h1>
<table>
  <thead>
    <tr>
      <th>Id:</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%#= render @profiles %>
  </tbody>
</table>

<% if current_user&.admin? %>
  <%= link_with_item :users, 'Управление пользователями', admin_users_path %>
<% end %>
 -->
