<div class="container col-lt-9">
  <% if current_user&.admin? %>
    <h1><%= @user.name %></h1>
    <table>
      <thead>
        <tr>
          <th><%=current_user.id%>:</th>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <%= render @profiles %>
      </tbody>
    </table>

    <%= link_with_item :users, 'Управление пользователями', admin_users_path %>
  <% end %>
</div>
